@font-face {
    font-family: radioactive;
    src: url(./monofonto-webfont.ttf);
}

*{
    font-family: radioactive;   
}

.hidden{
    display: none;
}

body{
      font-family: radioactive;
      font-size: 18px;
      color: #00ff00;
      background-color: black;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title{
    font-size: 50px;
}   

.mute-bar {
    height: 18px;
    width: 1000px;
    text-align: right;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header > span{
    display: inline;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    font-family: radioactive;
}

canvas{
    border: 1px solid #00ff00;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > h2{
    margin: 15px 0;
}

.right-margin{
    margin-right: 10px;
}

.mute-instruction{
}

.left-margin{
    margin-left: 10px;
}